.top{
    font-family: 'Varela', sans-serif;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    background: #ffffff;
    position: sticky;
    top: 0;
    z-index: 500;
}
.topLeft, .topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}
.topImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.topList{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.topCenter{
    flex: 6;
}
.topListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}
.topIconSearch{
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}

@media (max-width: 890px){
    .topLeft, .topRight{
        flex: 2;
    }
    .topCenter{
        flex: 8;
    }
}